a.nav-link::first-letter {
    text-transform: capitalize;
}

a.dropdown-item::first-letter {
    text-transform: capitalize;
}

a.dropdown-item {
    background-color: transparent !important;
    color: var(--bs-body-color)!important;
}

.dropdown-menu {
    background-color: var(--bs-secondary-bg) !important;
}

a.dropdown-item:hover {
    background-color: var(--bs-secondary) !important;
    color: var(--bs-light)!important;
}

a.dropdown-item.active {
    color: var(--bs-navbar-active-color);
}