th {
    font-size: larger;
}

table {
    margin-bottom: 2rem !important;
}

h1,
h2 {
    margin-bottom: 2rem !important;
}

h3,
h4,
h5,
h6 {
    margin-bottom: 1rem !important;
}

.content {
    padding-top: 5rem;
    flex: 1 0 auto;
}

.footer {
    padding: 1rem 0;
    flex-shrink: 0;
}

.d-flex.flex-column {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}